.about {
  padding: 30px;
  margin-top: 20vh;
  margin-right:auto;
  margin-left:auto;
  width:fit-content;
  font-size: large;
  text-align: center;
  background-color: rgb(238, 230, 250);
  color: rgb(36, 11, 73);
  border-radius: var(--border-radius);
}

.about a {
  color: blue;
}

.about p{
    padding:2vh;
}


