/* home page */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 6rem;
  min-height: 100vh;
  max-width: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(247, 245, 206);
}

.cheer {
  margin-top: 30vh;
  padding: 30px;
  width: fit-content;
  font-size: large;
  text-align: center;
  background-color: rgb(238, 230, 250);
  color: rgb(36, 11, 73);
  border-radius: 6px;
}

/* number theory page */

.numberPageMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

/* set operations page */

.setDiv {
  padding-bottom: 5vh;
  text-align: center;
}

.vennDiv {
  width: fit-content;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
}

/* grid for cards */
.cardContainer {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 5vh;
  padding: 10px;
  gap: 40px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* about page */

.about {
  padding: 15px;
  margin-top: 8vh;
  margin-bottom: 8vh;
  width: fit-content;
  font-size: large;
  text-align: center;
  background-color: rgb(238, 230, 250);
  color: rgb(36, 11, 73);
  border-radius: 6px;
}

.about a {
  color: blue;
}

.about p {
  padding: 2vh;
}

/* background divs */

.background {
  background-color: #cccccc;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: url("./components/assets/mathBackground.png");
}

/* background image fading */
.backgroundColor {
  background-color: #ffffff;
  background-size: cover;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.heading {
  margin: 0;
  padding: 2rem;
  background-color: rgb(238, 230, 250);
  color: rgb(36, 11, 73);
  border-radius: 6px;
}

/* mobile */
@media screen and (max-width: 600px) {
  .cardContainer {
    grid-template-columns: auto;
  }

  .vennDiv{
    position: fixed;
    width: 130px;
    height: 90px;
    right: 0px;
    z-index: 9;
    border-radius: 5px;
  }

  .vennDiv img {
    position: fixed;
    width: 130px;
    height: 80px;
    right: 0px;
    top: 25vh;
    z-index: 9;
    border-radius: 5px;
  }

  .main {
    padding: 55px;
  }
}
