.setDiv {
    margin-top:45px;
    padding:5vh;
    text-align:center;
    color:darkkhaki
}

.setHeading{
    padding: 3vh;
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
    border-radius:6px;
    background-color:rgb(238, 230, 250);
    color:rgb(36, 11, 73);
}

.setExplain{
    padding: 2vh;
    width:80vh;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    border-radius:6px;
    background-color:rgb(238, 230, 250);
    color:rgb(36, 11, 73);
}

.vennDiv{
  width:fit-content;
  margin-top:5vh;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:5vh;
}

/* grid for cards */
.cardContainer {
    display: grid;
    grid-template-columns: auto auto;
    margin-top:5vh;
    padding: 10px;
    gap: 40px;
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
  }


  /* mobile */
  @media screen and (max-width: 600px) {

    .cardContainer {
        grid-template-columns: auto;
      }

      .setExplain{
        width:40vh;
      }

      .vennDiv img{
        position: fixed;
        width:130px;
        height:80px;
        right:0px;
        z-index:9;
        border-radius:5px;
      }

  }