.navDiv {
  background-color: rgb(141, 128, 158);
  padding: 2vh;
  position: fixed;
  top: 0;
  width: 100%;
  min-width:max-content;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;  
}

li {
  display:inline;
  padding: 2vh;
}

li:hover {
  color: rgb(36, 11, 73);
  padding-top: 1vh;
}

/* breakpoint for smaller screens */
@media screen and (max-width: 600px) {
  li {
    font-size:smaller;
    padding:1vw;
  }
}
