.numberApp{
    padding:5vh;
}

.primeButton{
    background-color:gray;
    color:#ffffff;
    border-style:none;
    padding:1vh;
    font-size:15px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.gcdButton{
    background-color:rgb(255, 249, 194);
    border-style:none;
    padding:1vh;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-size:15px;
}

.modButton{
    background-color:rgb(185, 233, 213);
    border-style:none;
    padding:1vh;
    font-size:15px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color:#054205;
}